# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web-ui/node_modules

# production
/web-ui/build

# misc/OS files
ehthumbs.db
Thumbs.db
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
